<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/controllers/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarProduto</servlet-name>
        <servlet-class>controllers.AdicionarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutos</servlet-name>
        <servlet-class>controllers.ListarProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProduto</servlet-name>
        <servlet-class>controllers.EditarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarEstoque</servlet-name>
        <servlet-class>controllers.AtualizarEstoque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEstoque</servlet-name>
        <servlet-class>controllers.ListarEstoque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarUsuarios</servlet-name>
        <servlet-class>controllers.ListarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarUsuario</servlet-name>
        <servlet-class>controllers.AdicionarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverProduto</servlet-name>
        <servlet-class>controllers.RemoverProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverUsuario</servlet-name>
        <servlet-class>controllers.RemoverUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>controllers.EditarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarProduto</servlet-name>
        <url-pattern>/AdicionarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutos</servlet-name>
        <url-pattern>/ListarProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProduto</servlet-name>
        <url-pattern>/EditarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarEstoque</servlet-name>
        <url-pattern>/AtualizarEstoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEstoque</servlet-name>
        <url-pattern>/ListarEstoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarUsuarios</servlet-name>
        <url-pattern>/ListarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarUsuario</servlet-name>
        <url-pattern>/AdicionarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverProduto</servlet-name>
        <url-pattern>/RemoverProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverUsuario</servlet-name>
        <url-pattern>/RemoverUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/EditarUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>views/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
